@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto+Slab:wght@700;800&family=Roboto:ital@1&display=swap');
body, html {
  margin: 0;
  padding: 0;
}
.main-font {
  font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.nav-links {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.register-fomr-style {
  margin-top: 8rem;
}
.navbar-style {
  background-color: rgb(34, 35, 37);
}
/* CSS */
.button-33 {
  background-color: #94dbac;
  border-radius: 100px;
  box-shadow: rgba(44, 154, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.main-page-style {
  @media (max-width:600px){
    flex-direction: column;
  }
}